$primary: #006699;

div{
  font-family: "Trebuchet MS", Verdana, sans-serif;
}


h2 {
	color: $primary;
}

 .update-form {
	background-color: #f3f3f3;
    padding: 10px 0 6px 55px;
}

input[type = "text"] {
	
	border: 1px solid #c2c2c2;
	padding: 4px;
}

#root {
	
    width: 100%;

}

.item-list {
   margin-left: 10%;
    position: relative;
    top: 134px;
    width: 80%;
    z-index:1
}

hr {
	
	color: #fffff
}

.header{
	 background: rgba(12, 13, 14, 0.86) none repeat scroll 0 0;
    float: left;
    height: 34px;
    left: -8px;
    line-height: 1;
    padding: 7px 0 6px 16px;
    position: fixed;
    top: -8px;
    width: 100%;
    z-index:100
}

.my-item{
	
	 background-color: white;
    cursor: pointer;
    float: left;
    height: 14px;
    left: 11px;
    padding: 2px 9px 5px 6px;
    position: relative;
    top: 5px;
}


.usr-name{
	 color: white;
    float: right;
    padding: 7px 0 0;
    position: relative;
    right: 2%;
}


.itm-title{
	
	 color: $primary;
    padding: 9px 0 21px 28px;
}

.desc{
	
	background-color: #f2f2f2;
    border: medium none;
    font-family: monospace;
    font-size: 14px;
    left: 20%;
    padding: 10px 0 16px 12px;
    position: relative;
    top: 16px;
    width: 50%;
}


.img-upload {
	 background-color: #c2c2c2;
    margin-left: -148px;
    padding: 89px 59px 6px 68px;
    position: absolute;
}

.itm-up{
	
	display: inline-block;
    height: 150px;
    width: 150px
}


.wrap {
	margin-left: 15px;
    width: 20%;
}

.container{
	display: flex
}

.whitespace{
	width:21px
}

input[type = "file"]{
	color: transparent;
    width: 100%;
}

.add-itm{
	 background-color: lightsteelblue;
    cursor: pointer;
    float: right;
    left: 90%;
    padding: 0.4em;
    position: fixed;
    top: 45px;
    width: 8%
}

.add-itm-div{
	background-color: lightyellow;
    display: flex;
    margin-left: 10px;
    position: relative;
    top: 19px;
}

.add-itm-form{
	
	 background-color: #fafafa;
    float: left;
    margin-left: 183px;
    padding: 75px 30px 255px 62px;
    width: 60%;
    position: relative;
    top:124px
}


.add-itm-form > .div-desc{
	
	position: relative;
    top: 10px;
    display: inline
}

.add-itm-form > .div-desc > #description{
	
	border: 1px solid #c2c2c2;
    height: 200px;
    width: 80%;
}

.add-itm-form >  input[type = "text"]{
    float: left;
    height: 50px;
    width: 80%;
}

#addItem-form > input[type="button"]{
	position: relative;
    top: 100px;
}

.search-btn{
 	
     
    height: 37px;
    position: relative;
    text-align: center;
    top: 19px;
    width: 80%;
    z-index: 10;;
}

.search-img{
	max-height: 47px;
    position: relative;
    top: 37px;
    z-index: 10;
}




.sugg-list{
 cursor:pointer;
 padding: 11px 5px 3px 13px
 }
@-moz-document url-prefix() { 
 .search-list{
     -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #e3e3e3 #e3e3e3;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 6px 5px 25px -9px;
    float: left;
    left: 289px;
    list-style-type: none;
    position: fixed;
    top: 109px;
    width: 41.9%;
    z-index: 100;
 }
 }

 a{
 color: black;
    text-decoration: none;
    display: block
 }

 .link-profile{
  position:relative;
  top:100px
 }


 .dropdown {
  display: inline-block;
    float: right;
    position: relative;
    right: 30px;
}

.dropdown-content {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 143px;
    padding: 12px 16px 0 0 ;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.select-span{
     background-color: white;
    color: black;
    font-family: arial;
    padding: 5px 69px 4px 60px;
    position: relative;
    top: 14px;
    cursor:pointer;
}


ul {
    list-style-type: none;
    padding: 8px 0 0 6px;
}

.dropdown-content > ul> li{

 padding: 8px 0 7px 2px;
}

.item-desc{
    
  
    background-color: #f3f3f3;
    font-family: arial;
    padding: 40px 0 55px 60px;
    position: relative;
}

.divitem-img{
    
    display: inline-block;
    position: relative;
    top: 20px;
    width: 100%;
}

.item-img{
    margin-left: 51px;
    position: relative;
}

.raise-btn{
  background-color: green;
    background-color: green;
    box-shadow: 17px 5px 24px -11px black;
    color: #fff;
    float: right;
    font-family: arial;
    padding: 13px 0 13px 18px;
    position: relative;
    right: 10px;
    width: 20%;
    z-index: 10;
    cursor:pointer
}



.divsearchbar{
    display: inline-block;
    float: left;
    left: 26%;
    position: fixed;
    top: 40px;
    width: 52%;
    z-index: 10;
}


.item-desc-wrapper{
    float: left;
    left: 10%;
    position: relative;
    top: 158px;
    width: 80%
}

.MyClass{
   background: #949494 none repeat scroll 0 0;
   opacity: 0.9;
}

.hide{
    opacity:0
}

.item-images{
    max-height: 100%;
    max-width: 100%;
}

.recom-img{
    max-height: 150px;
    max-width: 150px;
}

.recom-div{
   display: inline-flex;
    padding: 32px 0 198px;
    position: relative;
}


.recom-itms{
   background: #6e6e6e none repeat scroll 0 0;
    box-shadow: 5px 4px 14px 0;
    padding: 27px 35px 27px 41px;
    position: relative;
}

.recom-itm-title{
    color: #ffff;
    font-family: arial;
}

.fo-ban{
     background: #6e6e6e none repeat scroll 0 0;
    box-shadow: 63px 88px 103px 0;
    color: #ffff;
    font-family: arial;
    font-size: 23px;
    padding: 15px 0 16px 314px;
    position: relative;
    top: 30px
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .search-img {

 max-height:47px;
  top:38px;
    position: relative;
}

 .search-list{
    border: 1px solid #c2c2c2;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    list-style-type: none;
    position: fixed;
    box-shadow: 6px 5px 25px -9px;
    background-color: #fff;
    z-index:100;
    float:left;
  left:316px;
  top:110px;
  width:41.8%;
 }

 .raise-btn {
  background-color:green;
  box-shadow:-4px 2px 5px 2px;
  color:#FFFFFF;
  cursor:pointer;
  font-family:arial;
  padding:10px;
  position:relative;
  z-index:100;

  float:right;
  right:20px;
  top:10px;
}
.recom-itms{
   background: #6e6e6e none repeat scroll 0 0;
    box-shadow: 5px 4px 14px 0;
    padding: 27px 35px 27px 60px;
    position: relative;
}
       
}



li:hover{
    background-color: #c2c2c2;
    font-family: sans-serif;
}


.admin{
    position: relative;
    top: 100px;
    float: left;
    left: 32%;
    font-size: 50px;

}