// Place all the styles related to the user_profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn { background-color: #008cba;
    border: ra;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 17px;
    padding: 4px 0 5px 16px;
    width: 100px;}

.user-address{
  background-color: #f0f0f0;
    left: 16%;
    padding: 9px 5px 12px 33px;
    position: relative;
    top: -26%;
    width: 20%;
}

.mng-address{
background-color: #ebebeb;
    padding: 9px 0 14px 17px;
    width: 40%;
}
 
   .user-med-pic{
    background-color: #f1f1f1;
    border-radius: 4px;
    display: inline-block;
}
